body {margin: 0}
body {font-family: Arial, Helvetica, sans-serif;}
ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: cadetblue
}
li {float: left;
}
li a {
    display: block;
    color: azure;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
body {background-color: white}

.activepagebutton {
    background-color: gray;
}
h1{text-align: center}
h2{text-align: center}
p{text-align: center}
#cv{text-align: center}
#cv.center{
    margin-left: auto;
    margin-right: auto;
}
    table {border-collapse:collapse }
    table, th, td {
    border: 1px solid black;
}
#talen th{
    background-color: gray
}
#talen tr:hover{
    background-color:lightskyblue}
#talen tr:nth-child(odd){background-color: palegreen}
#talen tr:nth-child(odd):hover{background-color: lightskyblue}
#talen.center{
    margin-left: auto;
    margin-right: auto;
}